.main-container {
    height: 50%;
    width: 40%;
    @media (max-width: 1360px) {
       width: 100%; 
    }
    @media (max-width: 555px) {
        display: none;
    }
      
}


.window {
    height: 100%;
    overflow: hidden;
    width: 450px;
    border-radius: 25px;
    position: relative;
    margin: 0 auto;
    
}

.all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    user-select: none;


}

.arrow, .arrow2 {
    cursor: pointer;
    position: absolute;
    z-index: 4;
    top: 50%;
    border-radius: 50%;
    background-color: rgba(251, 251, 251, 0.612);
    padding: 10px 10px;
    &:hover {
        background-color: rgba(248, 248, 247, 0.959);
        transition: 0.3s;

        
    }
}

.arrow {
    left: 10px;

}


.arrow2 { 
    right: 10px; 
    
}

@media (max-width: 1360px) {
    




}